<div class="container-flex">
    <h1 class="jt --debug">
        <span class="jt__row">
            <span class="jt__text">Filmes mais assistidos</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
            <span class="jt__text">Filmes mais assistidos</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
            <span class="jt__text">Filmes mais assistidos</span>
        </span>
        <span class="jt__row jt__row--sibling" aria-hidden="true">
            <span class="jt__text">Filmes mais assistidos</span>
        </span>
    </h1>
</div>

<app-cards [movies]="movies"></app-cards>