<nav class="navbar navbar-dark fixed-top">

    <a class="navbar-brand flex-grow-1" href="#">
        <img src="https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg" 
        id="netflixLogo" 
        class="my-1 mx-2  sm-4 lg-4 md-4" 
        alt="Netflix"
        
        />
    </a>

    <ul class="nav text-white d-none d-lg-flex">
        <li class="nav-item d-xl-none">
            <a class="nav-link active text-reset" href="#">Navegar</a>
        </li>
        <li class="nav-item d-xl-none">
            <a class="nav-link text-reset" href="#">Infantil</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link active text-reset" href="#">Inicío</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" href="#">Séries</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" href="#">Generos</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" routerLink="top-rated">Melhores avaliações</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" routerLink="upcoming">Em breve</a>
        </li>
        <li class="nav-item d-none d-xl-flex">
            <a class="nav-link text-reset" routerLink="most-popular">Mais populares</a>
        </li>
    </ul>

    <form class="form-inline">
        <input class="form-control" type="search" placeholder="Busca">
    </form>