div{
    display: flex;
    min-width: 200px;
}

.card{
    margin-top: 75px;
    margin-left: 15px;
    max-width: 18rem;
    background-color: #1b1b1b;
}


.card-body :hover{
    visibility: visible;
    opacity: 1;
    margin-top: -5px;
    transition-delay: 0.2s;
}

.container{
    margin: 0px;
    padding: 0px;
}
